.navBar {
  display: flex;
  background: white;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.logo {
  width: 300px;
}

.navBar__list {
  display: flex;
  align-items: center;
}
.links {
  margin: 5px;
  font-size: 1.2em;
  color: black;
}
