.container {
    display: flex;
}

.itemHeader {
    text-align: center;
}

.itemCard {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 20px;
}

.itemImg {
    max-width: fit-content;
    max-height: 200px;
    align-self: center;
}

.cardFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.InfoCartItem {
    font-size: 15px;
    margin: 1px;
}


